{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.imie }}</a>
              <small class="text-muted">{{ post.dataUtworzenia.strftime('%d.%m.%Y')}}</small>
            </div>
            <h2><a class="article-title" href={{ url_for('post', post_id=post.id) }}>{{ post.tytul }}</a></h2>
            <p class="article-content">{{ post.tresc }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}