{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Wykresy</legend>
                <a class="btn btn-outline-info" href="/plotbtc">Wykres BTC-USD</a>
                <a class="btn btn-outline-info" href="/ploteth">Wykres ETC-USD</a>
                <a class="btn btn-outline-info" href="/plotdoge">Wykres DOGE-USD</a>
                <a class="btn btn-outline-info" href="/plotbnb">Wykres BNB-USD</a>
        </fieldset>
    </div>
{% endblock content %}
